VITE_SUPABASE_URL="https://pdiihywgdrclonsvdtrl.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkaWloeXdnZHJjbG9uc3ZkdHJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3MDAxNjksImV4cCI6MjA4MDI3NjE2OX0.OgP-Hes0_sPjc5IbM-8MukcUfCN_iLRBxQquQoIPUZA"